<!-- HTML Template -->

<header data-role="header" class="navbar nav navbar-inner">
    <h1 class="form-signin-heading">天信达-货物追踪服务平台[alp-dev]</h1>
</header> <!-- /header -->

<div class="container-fluid content" data-role="content">
    页面 <input class="btn btn-large btn-primary" type="button" value="返 回" id="backBtn">
</div>
<footer class="footer navbar navbar-fixed-bottom" data-role="footer">
    <p>
        Copyright © 2001-2017 天信达-货物追踪服务平台[alp-dev] - V1.2.7
    </p>
</footer><!-- /footer -->
