<!-- HTML Template -->

<header data-role="header" class="navbar nav navbar-inner">
    <h1 class="form-signin-heading">天信达-货物追踪服务平台[alp-dev]</h1>
</header> <!-- /header -->

<div class="container-fluid content" data-role="content">
    登录成功<input class="btn btn-large btn-primary" type="button" value="其他页面" id="userListBtn">

    <div style="padding: 30px 100px;">
        <div class="row" style="border: 1px solid" id="userListHeader">
            <div class="col-sm-4" style="border:1px solid #ddd;">id号</div>
            <div class="col-sm-4" style="border:1px solid #ddd;">姓名</div>
            <div class="col-sm-4" style="border:1px solid #ddd;">操作</div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <label class="input-label" for="username">新增用户名</label>
            <input type="text" id="username" name="username" class="input-block-level" value="">
        </div>
        <div class="row" style="text-align: center;">
            <input class="btn btn-large btn-primary" type="button" value="新增用户" id="addUserBtn">
        </div>
    </div>

</div>
<footer class="footer navbar navbar-fixed-bottom" data-role="footer">
    <p>
        Copyright © 2001-2017 天信达-货物追踪服务平台[alp-dev] - V1.2.7
    </p>
</footer><!-- /footer -->
